.header {
    display: flex;
    justify-content:space-between;
    border: solid black;
}

.body {
    align-items: center;          
    padding: 20px;
    width: 100%;                  
}

.logo {
    width: 150px;
}

.nav-items > ul {
    display: flex;   
    list-style-type: none;
    font-size: 20px;
    padding: 0px 20px;
}

.nav-items > ul >li {
    padding: 10px;
    margin: 10px    

}

.res-card {
    padding: 5px;
    width: 190px;
    height: 390px;
    margin: 7px;
    background-color: #f0f0f0;
    transition: all 0.3s ease;
}
.res-card:hover {
    border: solid black;
    cursor: pointer ;
    background: linear-gradient(45deg, #ff6b6b, white , orange, #96ceb4);
    background-size: 300% 300%;
    animation: gradientMove 2s ease infinite;  
}

.search {
    padding: 10px;
}

.res-logo {
    width: 190px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-logo {
  width: 200px; 
  height: 200px; 
  object-fit: cover; 
  border-radius: 5px;
}

.filter-btn {
    cursor: pointer;
}

